@page "/";
@using AngelAlgo.Components

<head>
    <link href="https://icons.getbootstrap.com/" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="menu"> 
            <img />
            <a href="/discord">Discord</a>
            <a href="/planspricing">Plans & Pricing</a>
            <a href="/features">Features</a>
            <a href="/faq">FAQ</a>
            <a href="/reasource">Reasource</a>
            <a href="/247stream">24/7 Stream</a>

            <button class="Buynow">Buy Now</button>
            <button class="Signin">Sign in</button>
        </nav>
    </header>

    <section class="home">
        <h1> The Most Reliable Tool To Enhance Your Trading Today</h1>
        <p> Premium buy and soll signals</p>
        <button>Buy Now <i class="bi bi-arrow-right"></i> </button>
    </section> 

    <section class="why">
        <h1>Why Choose Angel Algo?</h1>
        <p> Angel Algo is yhe worlds most advanced stand alone indicador. Trusted by over 100+ traders</p>

        <div class="why_box">
            <div>
            <i class="bi bi-eye-fill"></i>
            <h2>The Problem</h2>>
            <p>The fact is most traders build charts with complicated lines, indicators and oscillators leaving them confused with too many signals. That leads to taking on too many losing trades.</p>
            </div>

            <div>
            <i></i>
            <h2>The Solution</h2>>
            <p>Angel algo is a powerful indicator that plugs into your charts and scans the market to give you the most optimal times to enter and exit a trade with simple and easy understand buy and sell signals.</p>
            </div>

            <div>
            <i class="bi bi-people-fill"></i>
            <h2>Never Miss Out</h2>>
            <p>Get real time alerts on any stock, forex or crypto ticker in any timeframe through Discord.</p>
            </div>
        </div> 
    </section> 

    <section class="discord">
        <h1>Join Our Discord</h1>
        <i></i>
        <h2> Community, Trades, & Education.</h2>
        <p> Connect with an interactive group of traders who share trade ideas. Get access to 24/7 support, free education, and thousands of automated signals for every market.</p>
        <button>Join Discord <i class="bi bi-arrow-right"></i> </button>
    </section> 

    <PlansPricing></PlansPricing>

    <Features></Features>

    <Testimonials></Testimonials>

    <Faq></Faq>

    <section class="walktheough">
        <h1>AngelAlgo Walkthrough</h1>

        <video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
        </video>
    </section>

    <form class="subscribe">
        <h1>Subscribe to our newsletter</h1>
        <input type="text">Enter your name<br>
        <input type="text">Your email<br>
        <button>Subscribe</button>
    </form>

    <footer>
        <img>
        <p></p>
        <ul> Additional Resources
            <li>Become a partner</li>
            <li>Terms of services</li>
            <li>Disclaimer</li>
            <li>Refund Policy</li>
            <li>FAQ's</li>
            <li>Blog</li>
        </ul>
        <h1>Contact Us</h1>
        <a href="support@angelalgo.com">support@angelalgo.com</a>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-instagram"></i>
        <q>© 2021 Angel Algo. All rights reserved.</q>
    </footer>
</body>
